.header {
    height: 100vh;
    width: 100%;
    background-color: #f5f5f5;
}

.header-background {
    height: 100%;
    width: 65%;
    margin: auto;
    background-color: #345995;
    position: absolute;
}

.header-title {
    position: absolute;
    z-index: 1;
    bottom: 5%;
    left: 10%;
    color: #f5f5f5;
    display: flex;
    flex-direction: column;
}

.header-about {
    writing-mode: vertical-lr;
    position: absolute;
    color: black;
    top: 10%;
    right: 4%;
}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 1.5em;
}

p {
    font-size: 2em;
}
