.navbutton {
    width: 60px;
    height: auto;
    overflow: hidden;
    border: none;
    padding: 15px 10px;
    margin: 50px auto;
    display: block;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.navbutton div {
    width: 5px;
    height: 60px;
    background-color: #fff;
    margin-left: 10px;
    border-radius: 25px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.v-one,
.v-two,
.v-three {
    float: left;
}

.navbutton .v-two {
    height: 45px;
}

.navbutton .v-three {
    height: 35px;
}

.navbutton:hover div {
    height: 60px;
}
